@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
}
.container{
    text-align: center;
}
.text{
    font-family: "Big Shoulders Stencil", sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    background: url("fondo.png");
    background-size: cover;
    background-position: 0 0;
    background-clip: text;
    color: transparent;
    animation: cachetes 10s linear infinite;
}
@keyframes cachetes{
    to{
        background-position-y: 200px;
    }
}