body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: black;
}
.text{
    font-size: 4rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-shadow:
        0 0 10px cyan,
        0 0 20px cyan,
        0 0 40px cyan,
        0 0 80px cyan;
}